<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<style>
  #page {
    max-width: 646px;
    margin: 0px auto;
    padding: 0px 40px;
  }

  .number {
    font-size: 48pt;
    color: #00cc00;
    text-shadow: 1px 1px 0px #00aa00;
    font-weight: bold;
  }
  .paragraph {
    font-size: 17pt;
  }
  .logo {
    margin-bottom: 40px;
    font-size: 52pt;
    font-family: 'Pacifico', cursive;
  }
  .footer {
    text-align: center;
    max-width: 646px;
    margin: 0px auto;
  }
  body {
    font-family: "open sans", sans-serif;
    color: #333333;
  }
  .disclaimer {
    font-size: 10px;
  }
  .disclaimer-large {
    font-size: 13px;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
    font-size: 30px;
    text-align: center;
  }
</style>

<br><br>
<center>
  <div class="logo">Get Travel</div>
</center>
<center>
  <h1>Оставьте номер телефона и поездкой займемся мы:</h1>
</center>

<center>
  <input type="tel" placeholder="+7 999 199 20 20" />
  &nbsp;
  <a style=" margin-top: 2px; vertical-align:top;" class="pure-button pure-button-primary">Полетели</a>
</center>



<center>
  <h2 style="margin-top:40px;">Как это работает?</h2>
</center>

<div class="paragraph">
  Наши операторы находятся на связи 24/7 и готовы помочь вам с любым вопросом.
  Просто напишите нам и мы купим авиабилеты, забронируем гостиницу или закажем трансфер
  до аэропорта. Еще никогда отых не был таким легким.
</div>

  <center>
    <h2 style="margin-top:40px;">Реальные истории</h2>
    <img style="margin:5px;" width="240" height="426" src="/pictures/magic.jpg">
    <img style="margin:5px;" width="240" height="426" src="/pictures/magic2.jpg">
    <img style="margin:5px;" width="240" height="426" src="/pictures/magic3.jpg">
    <img style="margin:5px;" width="240" height="426" src="/pictures/magic4.jpg">
  </center>

  <center><h2 style="margin-top:40px;">FAQ</h2></center>

  <div class="paragraph">
    <b>Q: Что я могу попросить Вас сделать?</b><br><br>

    Купить авиабилет, забранировать отель, организовать трансфер до аэропорта или помочь с визой.
    <br><br>

    <b>Q: Как быстро я получу это?</b><br><br>

    На столько быстро насколько это возможно.<br><br>

    <b>Q: Стколько это стоит?</b><br><br>
    Вы можете абсольтно бесплатно обращаться к нам. Когда вы закажете что-то,
    мы сообщим сколько это будет стоить. Никаких скрытых комиссий.<br><br>

    <b>Q: Как я смогу оплатить авиабилет, отель и т.д.?</b><br><br>

    Для оплаты вам понадобится карта Visa или MasterCard. Все платеже идут через
    сайт банка.<br><br>

    <b>Q: Вы можете гарантировать, что данные моей карты будут в безопасности?</b><br><br>

    Да. Мы не храним данные вашей карты, а сам платеж проходит через сайт банка.
    <br><br>

    <b>Q: Где вы работаете?</b><br><br>

    По всей России.
  </div>

  <center><h1 style="margin-top:70px;">Введите номер телефона и начнем:</h1></center>

  <center>
    <input type="tel" placeholder="+7 999 199 20 20" />
  </center>
  <br />
  <br />


  <div style="margin-top:40px;" class="footer">
    GetTravel is a service provided by Get Travel, Inc., located in Moscow, Russia.<br><br>

    support@gettravel.co
  </div>
